    /* gets rid of horizontal scroll bar  */
    
    @font-face {
        font-family: 'yeyeyregular';
        src: url('yeyey-1pk2-webfont.woff2') format('woff2'), url('yeyey-1pk2-webfont.woff') format('woff');
        /* font-weight: normal;
    font-style: normal; */
    }
    
    #searchButton {
        border-radius: 5px;
    }
    
    #navButton {
        border-radius: 5px;
    }
    
    .yeyeFont {
        font-family: 'yeyeyregular'
    }
    
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    
    .mainBox {
        font-family: yeyeyregular;
        background-color: rgba(0, 153, 255, 0.096);
        border-bottom: .2em solid rgb(0, 153, 255);
        margin-top: .9em;
        margin-bottom: 1em;
        /* display: flex;
        flex-wrap: wrap; */
        text-align: center;
        font-size: 4em;
    }
    
    .imageResizer {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .japaneseText {
        color: red;
        font-size: 1.2em;
    }
    
    .cardBackground {
        background-color: rgba(45, 130, 187, 0.294);
    }
    
    @media (min-width: 568px) {
        .container {
            width: 550px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    
    @media screen and (min-width: 1336px) and (min-height: 768px) {}
    
    @media screen and (min-width: 4001px) {}
    
    @media screen and (min-width: 2501px) and (max-width: 4000px) {}
    
    @media screen and (min-width: 1600px) and (max-width: 2500px) {}
    
    @media screen and (max-width: 1599px) {}